CERTACK_BASE_URL=https://certack.com
CERTACK_API_KEY=ct_CHANGE_ME
CERTACK_WEBHOOK_SECRET=CHANGE_ME
CERTACK_DOMAINS_FILE=certack_utils/domains.yaml
CERTACK_TIMEOUT_SECONDS=15
CERTACK_MAX_RETRIES=3
CERTACK_LISTEN_ADDR=0.0.0.0
CERTACK_LISTEN_PORT=8080
SLACK_WEBHOOK_URL=
PAGERDUTY_ROUTING_KEY=
CERTACK_HOOK_COMMAND=
